node_modules
**/node_modules
.git
.gitignore
*.md
dist
**/dist
.turbo
**/.turbo
dist.zip
**/dist.zip
docker/data
docker/www
docker/server
docker/images
apps/web/dist
apps/admin/dist
*.tsbuildinfo
.DS_Store
.stylelintcache
